
                        <div class="header__user">
                                    <div class="tb">
                                        <div class="tb__cell">
                                              
                                            <div class="user__avatar">
                                                <img src="{{asset('assets/img/author-avatar/1.jpg')}}" alt="">
                                            </div>
                                        </div>
                                    </div>
                                
                                    <div class="user__menu">
                                        <ul>
                                            <li class="user__menu__header">
                                
                                                <div class="user__header__avatar">
                                                    <img src="{{asset('assets/img/author-avatar/1.jpg')}}" alt="">
                                                </div>
                                
                                                
                                            </li>
                                            <li class="user__menu__item">
                                                <a href="{{path('fos_user_profile_show')}}">
                                                    <i class="fa fa-user"></i>
                                                    Profile
                                                </a>
                                            </li>
                        
                                             {{ render(controller("EcommerceBundle:Panier:menu")) }}

                                            <li class="user__menu__item">
                                                <a href="{{path('fos_user_profile_edit')}}">
                                                    <i class="fa fa-edit"></i>
                                                    Editer mes informations
                                                </a>
                                            </li>
                                            <li class="user__menu__item">
                                                <a href="{{path('fos_user_change_password')}}">
                                                    <i class="fa fa-edit"></i>
                                                    Changer Mot De Passe
                                                </a>
                                            </li>
                                            <li class="user__menu__item">
                                                <a href="{{path('fos_user_security_logout')}}">
                                                    <i class="fa fa-arrow-circle-o-left"></i>
                                                    Deconnexion
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                
                                </div>  