{% extends "::layout/layout.html.twig" %}




{% block body %}


<section id="main">

            <div class="header-page bg-scroll m-bottom-0">

                <div class="container">

                    <div class="header-page__form header-page__form--high">

                        <div class="tb">

                            <div class="tb__cell">
                                <div class="header-page__banner text-left">
                                    <h1 class="banner__title">Le club loisirs à tarifs réduits</h1>
                                    <a href="listing-detail1.html" class="listgo-btn btn-primary">Savoir Plus <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>

                            <div class="tb__cell">
                                <div class="form-high form-transparent">
                                
                                    <div class="tab tab--form">
                                
                                        <ul class="tab__nav">
                                            <li class="active"><a href="#findListing">Devenir membre</a></li>
                                            <li><a href="#findWay">Rechercher</a></li>
                                        </ul>
                                
                                        <div class="tab__content">
                                
                                            <div class="tab__panel active" id="findListing">
                                
                                                <form action="#" class="form form--listing">
                                
                                                    <div class="form-item">
                                                        <label class="label">Code d'Appartenance :</label>
                                                        <span class="input-text input-icon-inside">
                                                            <input type="text">
                                                            <i class="input-icon"></i>
                                                        </span>
                                                    </div>
                
                                                    <div class="form-item item--submit">
                                                        <input type="submit" value="Valider">
                                                    </div>
                                
                                                </form>
                                
                                            </div>
                                
                                            <div class="tab__panel" id="findWay">
                                
                                               





                                                {{ render(controller("EcommerceBundle:Produits:recherche")) }}  
                                
                                            </div>
                                
                                        </div>
                                
                                    </div>
                                
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="overlay" style="background-color: rgba(0,108,255, 0.6)"></div>

            </div>

           

            <!-- Lingting -->            
            <div class="section">

                <div class="container">


            

                    <div class="listings listings--grid wil-multiple">
                        
                        <div class="row">

                        {% for produit in produits %}
                        
                            <div class="col-sm-6 col-lg-4">
                    
                                <div class="listing listing--grid">
                        
                                    <div class="listing__media">
                    
                                        <a href="#">
                                            <img src= {{produit.image.path}} alt= {{produit.image.alt}}>
                                        </a>
                    
                                       
                    
                                        <div class="listing__author">
                                            <a href="#">
                                                <img src= {{produit.image.path}} alt= {{produit.image.alt}}>
                                            </a>
                                        </div> 
                    
                                        <span class="onfeatued"><i class="fa fa-star-o"></i></span>

                                       
                                    </div>
                    
                                    <div class="listing__body">
                    
                                        <h3 class="listing__title"><a href="#">{{produit.nom}}</a></h3>
                                        <p class="price">
                                                <span class=" amount"><span>£</span>{{produit.prix|tva(produit.tva.multiplicate)}} €</span>
                                        </p>
                    
                                        <div class="listgo__rating">
                                            <span class="rating__number">4.0</span>
                                            <span class="rating__star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                            </span>
                                        </div>
                    
                                        <div class="listing__content">
                                            <address>
                                                {{produit.description}}
                                            </address>
                                        </div>
                    
                                        <div class="item__actions">
                    
                                            <div class="tb">
                    
                                                <div class="tb__cell cell-large">
                                                    <a href="{{ path('presentation', { 'id' : produit.id }) }}">Plus d'infos</a>
                                                </div>

                                                 {% if panier[produit.id] is not defined %}
                                                     <div class="tb__cell cell-large">
                                                        <a href="{{ path('ajouter', { 'id' : produit.id }) }}">Ajouter au panier</a>
                                                     </div>
                                                 {% endif %}
                    
                                              
                                            </div> 
                    
                                        </div>
                                      
                                    </div>
                                    
                                </div>
                    
                            </div>
                        {% endfor %}

                       
           

                        </div>
                    <center>
                         <div class="navigation">
                            {{ knp_pagination_render(produits) }}
                        </div>
                    </center>

                    </div>        
                </div>
            </div>
            <!-- End / Lingting -->            
            
           
            
            
           

        </section>




{% endblock %}

 