{% extends "::layout/layout.html.twig" %}

{% set totalHT = 0 %}
{% set totalTTC = 0%}
{% set refTva = {} %}
{% for produit in produits%}
    {% set refTva = refTva|merge({ ('%' ~ produit.tva.valeur) : 0}) %}
{% endfor%}



{% block body %}
<section id="main">

            <div class="header-page bg-scroll p-top-0" style="background-image:url(assets/img/bg/12.jpg) ">

                <div class="container">
                   <div class="header-page__inner">
                        <h2 class="header-page__title">Valider Mon Panier</h2>
                   </div>
                </div>

                <div class="header-page__breadcrumb">
                    <div class="container">
                        <ol class="wo_breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li><span>Panier</span></li>
                        </ol>
                    </div>
                </div>

                <div class="overlay" style="background-color: rgba(0,108,255, 0.6)"></div>

            </div>



           

            <div class="section wo_shop">


            

                <div class="container">

                 {% for message in app.session.flashbag.get('success') %}
                    <div class="alert alert-success">
                        <center> {{ message }} </center>
                    </div>
                 {% endfor %}

                    <table class="shop_table cart">

                        <thead>
                            <tr>
                                <th class="product-thumbnail">&nbsp;</th>
                                <th class="product-name">Produit</th>
                                <th class="product-price">Prix unitaire</th>
                                <th class="product-quantity">Quantite</th>
                                <th class="product-subtotal">Total HT</th>
                            </tr>
                        </thead>

                        {% if produits | length == 0 %}
                            <tr>
                                <td colspan="6"><h3><center>Aucune Carte dans votre panier</center></h3></td>
                            <tr>
                        {% endif %}

                        {% for produit in produits %}

                        <tr class="cart_item">

                        <form action="{{path('ajouter', {'id': produit.id})}}" method="GET">

        

                            <td class="product-thumbnail">
                                <a href="#"><img src= {{produit.image.path}} alt= {{produit.image.alt}}></a>                    
                            </td>

                            <td class="product-name" data-title="Product">
                                <a href="#">{{produit.nom}}</a>                 
                            </td>

                            <td class="product-price">
                                <span class="amount"><span>£</span>{{produit.prix}}</span>                   
                            </td>

                            <td class="product-quantity">

                                      {{panier[produit.id] }}
   
                            </td>

                            <td class="product-subtotal" data-title="Total">
                                <span class="amount"><span>£</span>{{produit.prix * panier[produit.id]}}</span>                   
                            </td>
                        </form>
                        </tr>

                        {% set totalHT = totalHT + (produit.prix * panier[produit.id]) %}
                        {% set totalTTC = totalTTC + (produit.prix * panier[produit.id]) | tva(produit.tva.multiplicate) %}
                        {% set refTva = refTva|merge({ ('%' ~ produit.tva.valeur) : refTva['%' ~ produit.tva.valeur] + (produit.prix * panier[produit.id]) | montantTva(produit.tva.multiplicate)}) %}

                        {% endfor %}

                        

                        

                      
                    </table>


                    <div class="row">


                    <div class="col-lg-6">


                        <div class="cart_totals">
    
                            <h2>Totals</h2>

                            <table class="shop_table">

                                <tbody>

                                    <tr class="cart-subtotal">
                                        <th>Total HT</th>
                                        <td data-title="Subtotal">
                                            <span class="amount"><span>£</span>{{totalHT}}</span>
                                        </td>
                                    </tr>

                                     {% for key,tva in refTva %}
                                    <tr class="cart-subtotal">
                                        <th>TVA {{key}} :</th>
                                        <td data-title="Subtotal">
                                            <span class="amount"><span>£</span>{{tva}}</span>
                                        </td>                                 
                                    </tr>
                                     {% endfor %}

                                    <tr class="order-total">
                                        <th>Total TTC</th>

                                        <td data-title="Total">
                                            <strong>
                                                <span class="amount"><span>£</span>{{totalTTC}}</span>
                                            </strong> 
                                        </td>
                                    </tr>
                                
                                </tbody>

                            </table>

                           

                        </div>
                    </div>
    
               



 <div class="col-lg-3">
                <dl>
                    <dt><h4>Adresse de livraison</h4></dt>
                    <dt>{{ livraison.prenom }} {{livraison.nom }}</dt>
                    <dt>{{ livraison.adresse }}</dt>
                    <dt>{{ livraison.cp }} {{ livraison.ville }} - {{ livraison.pays }}</dt>
                </dl>
 </div>





             <div class="col-lg-3">

                <dl>
                    <dt><h4>Adresse de facturation</h4></dt>
                    <dt>{{facturation.prenom }} {{ facturation.nom }}</dt>
                    <dt>{{facturation.adresse }}</dt>
                    <dt>{{ facturation.cp }} {{ facturation.ville }} - {{facturation.pays }}</dt>
                </dl>

            </div>
         </div>
         <div class="row">

             <div class="col-lg-6">

                 <div class="coupon">

                                    <div class="wc-proceed-to-checkout">
                                         <a href="{{path('livraison')}}" class="listgo-btn btn-primary">Payer</a>
                                    </div>
                                </div>
             </div>

              <div class="col-lg-6">

               <td colspan="6" class="actions">
                               
            
                                <a href="{{path('livraison')}}" class="listgo-btn btn-primary">Retour</a>

                            </td>
                </div>
</div>
 </div>
</div>



  



  


 </div>

        
                   

                    </div>

                </div>

            </div>

        </section>


{% endblock %}