{% extends "::layout/layout.html.twig" %}

{% block body %}
<section id="main">

            <div class="header-page bg-scroll p-top-0" style="background-image:url(assets/img/bg/12.jpg) ">

                <div class="container">
                   <div class="header-page__inner">
                        <h2 class="header-page__title">Valider Mon Panier</h2>
                   </div>
                </div>

                <div class="header-page__breadcrumb">
                    <div class="container">
                        <ol class="wo_breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li><span>Panier</span></li>
                        </ol>
                    </div>
                </div>

                <div class="overlay" style="background-color: rgba(0,108,255, 0.6)"></div>

            </div>



           

            <div class="section wo_shop">


            

                <div class="container">

               

                    <table class="shop_table cart">

                        <thead>
                            <tr>
                                <th class="product-name">Produit</th>
                                <th class="product-price">Prix unitaire</th>
                                <th class="product-quantity">Quantite</th>
                                <th class="product-subtotal">Total HT</th>
                            </tr>
                        </thead>

                     

                    {% for produit in commande.commande.produit %}

                        <tr class="cart_item">

                           

                            <td class="product-name" data-title="Product">
                                <a href="#">{{produit.reference}}</a>                 
                            </td>

                            <td class="product-price">
                                <span class="amount"><span>£</span>{{produit.prixHT}}</span>                   
                            </td>

                            <td class="product-quantity">

                                      {{produit.quantite }}
   
                            </td>

                            <td class="product-subtotal" data-title="Total">
                                <span class="amount"><span>£</span>{{produit.prixHT * produit.quantite}}</span>                   
                            </td>

                        </tr>

                       

                        {% endfor %}

                        

                        

                      
                    </table>


                    <div class="row">


                    <div class="col-lg-6">


                        <div class="cart_totals">
    
                            <h2>Totals</h2>

                            <table class="shop_table">

                                <tbody>

                                    <tr class="cart-subtotal">
                                        <th>Total HT</th>
                                        <td data-title="Subtotal">
                                            <span class="amount"><span>£</span>{{commande.commande.prixHT}}</span>
                                        </td>
                                    </tr>

                                     {% for key,tva in commande.commande.tva %}
                                    <tr class="cart-subtotal">
                                        <th>TVA {{key}} :</th>
                                        <td data-title="Subtotal">
                                            <span class="amount"><span>£</span>{{tva}}</span>
                                        </td>                                 
                                    </tr>
                                     {% endfor %}

                                    <tr class="order-total">
                                        <th>Total TTC</th>

                                        <td data-title="Total">
                                            <strong>
                                                <span class="amount"><span>£</span>{{commande.commande.prixTTC}}</span>
                                            </strong> 
                                        </td>
                                    </tr>
                                
                                </tbody>

                            </table>

                           

                        </div>
                    </div>
    
               



 <div class="col-lg-3">
                <dl>
                    <dt><h4>Adresse de livraison</h4></dt>
                    <dt>{{ commande.commande.livraison.prenom }} {{commande.commande.livraison.nom }}</dt>
                    <dt>{{ commande.commande.livraison.adresse }}</dt>
                    <dt>{{ commande.commande.livraison.cp }} {{ commande.commande.livraison.ville }} - {{ commande.commande.livraison.pays }}</dt>
                </dl>
 </div>





             <div class="col-lg-3">

                <dl>
                    <dt><h4>Adresse de facturation</h4></dt>
                    <dt>{{commande.commande.facturation.prenom }} {{ commande.commande.facturation.nom }}</dt>
                    <dt>{{commande.commande.facturation.adresse }}</dt>
                    <dt>{{ commande.commande.facturation.cp }} {{ commande.commande.facturation.ville }} - {{commande.commande.facturation.pays }}</dt>
                </dl>

            </div>
         </div>
         <div class="row">

             <div class="col-lg-6">

                 <div class="coupon">

                                    <div class="wc-proceed-to-checkout">


                                    <form action="{{ path('validationCommande', { 'id' : commande.id }) }}" method="POST"/>
                                        <input name="token" type="hidden" value="{{ commande.commande.token }}" />
                                        <input name="prix" type="hidden" value="{{ commande.commande.prixTTC }}" />
                                        <input name="date" type="hidden" value="{{ commande.date|date('dmyhms') }}" />
                                        <button type="submit" class="listgo-btn btn-primary">Payer</button>
                                    </form>


                                       
                                    </div>
                                </div>
             </div>

              <div class="col-lg-6">

               <td colspan="6" class="actions">
                               
            
                                <a href="{{path('livraison')}}" class="listgo-btn btn-primary">Retour</a>

                            </td>
                </div>
</div>
 </div>
</div>



  



  


 </div>

        
                   

                    </div>

                </div>

            </div>

        </section>


{% endblock %}